* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  background: rgb(54, 93, 213);
  background: linear-gradient(
    90deg,
    rgba(54, 93, 213, 1) 0%,
    rgba(26, 48, 162, 1) 100%
  );
  color: white;
  font-weight: bolder;
  padding: 20px 0;
}

h2 {
  font-weight: bolder;
  margin: 10px 0;
}

#form-container {
  width: 95%;
  margin: 0 auto;
}

form {
  border-bottom: 2px solid black;
}

.form-control-lg {
  width: 100%;
}

.btn {
  width: 100%;
}

.btn-primary {
  margin: 20px 0;
}

.btn-secondary {
  margin-top: 20px;
}

#current-weather {
  border: 2px solid black;
  height: 222px;
}

.uvi {
  padding: 5px 15px;
  color: white;
}

.bg-warning {
  color: black;
}

img {
  height: 55px;
}

.forecast-day {
  width: 18%;
  margin: 10px;
  border: 1px solid black;
}
